@using Microsoft.AspNetCore.Localization;
@using Microsoft.Extensions.Options;
@inject IOptions<RequestLocalizationOptions> localizationOptions;

@{
    var myCulture = Context.Features.Get<IRequestCultureFeature>();

    var cultureList = localizationOptions.Value.SupportedUICultures
                    .Select(x => new SelectListItem
                            {
                                Value = x.Name,
                                Text = x.DisplayName.Split(" ")[0],
                                Selected = (x.Name.ToLower() == "es")
                            });

    var currentUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Boletix</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@_localization.Getkey("Home")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">@_localization.Getkey("Privacy")</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                <!-- Language Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        @if (myCulture.RequestCulture.Culture.Name == "en-US")
                        {
                            <i class="flag-icon flag-icon-us"></i> @_localization.Getkey("English")
                        }
                        else
                        {
                            <i class="flag-icon flag-icon-mx"></i> @_localization.Getkey("Spanish")
                        }
                    </a>
                    <div class="dropdown-menu dropdown-menu-right p-0">
                        <a class="dropdown-item active" asp-area="Admin" asp-controller="Dashboard" asp-action="ChangeLanguage" asp-route-newCulture="es" asp-route-returnUrl="@currentUrl" role="button">
                            <i class="flag-icon flag-icon-mx mr-2"></i> @_localization.Getkey("Spanish")
                        </a>
                        <a class="dropdown-item active" asp-area="Admin" asp-controller="Dashboard" asp-action="ChangeLanguage" asp-route-newCulture="en-US" asp-route-returnUrl="@currentUrl" role="button">
                            <i class="flag-icon flag-icon-us mr-2"></i> @_localization.Getkey("English")
                        </a>
                    </div>
                </li>
                </ul>

            </div>
        </div>
    </nav>



